{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 410px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 75px;
			height: 75px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 18px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: "{% static 'coloring/images/mandala-freepik.svg' %}"
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = 0; i < 10; i++) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
          $swatch.dblclick(function(){
            // change to another selected color from "image" (color after i = 9)
            var random = Math.floor(Math.random() * 30);
            $(this).css("background",colors[random]);
					  	
					});
					cp.$container.append($swatch);
				}
      
        // add customizable palette options x5
        for (var i = 0; i < 5; i++) {
					var $swatch = $("<div>").css("background", "linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,154,0,1) 10%, rgba(208,222,33,1) 20%, rgba(79,220,74,1) 30%, rgba(63,218,216,1) 40%, rgba(47,201,226,1) 50%, rgba(28,127,238,1) 60%, rgba(95,21,242,1) 70%, rgba(186,12,248,1) 80%, rgba(251,7,217,1) 90%, rgba(255,0,0,1) 100%)")
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					}
          );
          $swatch.dblclick(function(){
            // gradient box show up
            var tool = new paper.Tool();
            var a = new paper.Point(0,0);
            var b = new paper.Point(200,200);
            var rectangle = new paper.Rectangle(a, b);
            var path = new paper.Path.Rectangle(rectangle);
            var custom_color;
            path.fillColor = {
              gradient:{
                  stops: ['black','maroon','#8b0000','red','#ff8c00','orange','#ffd580','yellow','#90EE90','green','#10A141','#3DE8DA','#249CC9','blue','purple', 'pink', 'white']
              },
              origin: a,
              destination: b
            }
            
            // store selected color
            const rgb2hex = (rgb) => `#${rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/).slice(1).map(n => parseInt(n, 10).toString(16).padStart(2, '0')).join('')}`;
             var clickedSwatch = $(this);

            path.onMouseDown = function (event) {
              // select color from gradient
              var myCanvas = document.getElementById("myCanvas");
              var context = myCanvas.getContext("2d");
              var pixel = context.getImageData(event.point.x,event.point.y,1,1).data;
              console.log(pixel);
              var r = pixel[0];
              var g = pixel[1];
              var b = pixel[2];
              custom_color = rgb2hex('rgb('+ r + ',' + g + ',' + b + ')'); 
              clickedSwatch.css("background",custom_color);
            }

            path.onMouseUp = function(event)
            {
              path.visible = false;
            }
					}
          );
					cp.$container.append($swatch);
				}
			}

      function deleteLater()
      {
        return 'purple';
      }

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON("{% static 'coloring/vendors/material/custom-colors.json' %}", function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
              cp.options.push(colors[keys[i]][1]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
      
			init(true);
		}
	</script>
</head>
<body>

	<canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div>
</body>
</html>
